body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #222;
}
canvas {
  background-color: #000;
  display: block;
  margin: auto;
  border: none;
}

header {
  text-align: center;
  h1 {
    font-size: 2em;
    margin: 0;

    small {
      font-size: 0.5em;
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  width: 10em;
  margin: 0;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  input,
  button,
  input[type="range"] {
    margin: 0;
    padding: 1em;
    font-size: 1em;
    cursor: pointer;
  }
  button {
    color: #fff;
    font-weight: 800;
    background-color: #a22;
    border: none;
    &:hover {
      background-color: #811;
    }
  }
}
.legend {
  text-align: center;
  font-size: 0.8em;
  color: #aaa;
  margin: 0.5em;
  b {
    color: #eee;
  }
}

footer {
  margin: 2em 0;
  a {
    color: #a22;
  }
}
